* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  .filter{
      display: flex;
      margin: 10px;
      justify-content: center;
      align-items: center;
  }
  .filter li{
      list-style: none;
      background-color: rgb(199, 199, 199);
      padding: 8px 20px;
      margin: 5px;
      letter-spacing: 1px;
      cursor: pointer;
      font-size: 20px;
  }
  .filter li.active,
  .filter li:hover {
      background-color: #000000;
      color: rgb(255, 255, 255);
  }