* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  .filter{
      display: flex;
      margin: 10px;
      justify-content: center;
      align-items: center;
  }
  .filter li{
      list-style: none;
      background-color: rgb(199, 199, 199);
      padding: 8px 20px;
      margin: 5px;
      letter-spacing: 1px;
      cursor: pointer;
      font-size: 20px;
  }
  .filter li.active,
  .filter li:hover {
      background-color: #000000;
      color: rgb(255, 255, 255);
  }
  .container {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #dcdcdc;
  }
  .card {
    max-width: 200px;
    height: 250px;
    width: 100%;
    background: #fff;
  }
  .card .imgBox {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
  }
  .card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
    transform-origin: center;
  }
  .card:hover .imgBox img {
    transform: scale(2);
  }